@charset "UTF-8";
/* Style
---------------------------------------*/
/*
1) @import.
2) Header.
3) About-chair.
4) Proposals.
5) Bonus-shops.
6) Impuls.
7) Watched.
8) Popular-categories.
9) Social.
10) Footer.

*/
/* 1) @import
-------------------------*/
/* CSS Document */
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Reset for newest browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font-Face
---------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/subset-Montserrat-Bold.eot");
  src: url("../fonts/subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff"), url("../fonts/subset-Montserrat-Bold.ttf") format("truetype"), url("../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/subset-Montserrat-Regular.eot");
  src: url("../fonts/subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff"), url("../fonts/subset-Montserrat-Regular.ttf") format("truetype"), url("../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variables
---------------------------------------*/
/* User Mixins 
---------------------------------------*/
.clearfix::after {
  /*not a mixin*/
  content: "";
  clear: both;
  display: table;
}

/*
text-align: center; выравнивание все inline-элементов
vertical-align: center; выравнивание inline элементов внутри строки, 
должно быть несколько inline-элементов.
*/
/*width is known*/
/*Центрирование инлайнов внутри блоков, значения задать родителю. 
			font-size: 78px;
			line-height: 119px;
*/
/*Parent's height is set by line-height
Child is inline or inline-block, vertical-align: middle*/
/*Fluid mixins*/
/*Other mixins*/
/* Headings
---------------------------------------*/
h1 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #323264;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #323264;
}

h4 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #323264;
  letter-spacing: 1px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #323264;
}

/* Body
---------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  background-color: white;
}

.wrapper {
  background-image: -webkit-linear-gradient(47.99deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-image: -o-linear-gradient(47.99deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-image: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.container {
  width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

/* =Buttons
---------------------------------------*/
/* Graphics
---------------------------------------*/
/* =Links
---------------------------------------*/
a {
  /* outline: none; */
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* outline: none;  */
  text-decoration: none;
  color: pink;
  cursor: pointer;
}

/* Header Dark */
.main-header {
  padding: 50px 150px 50px;
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo-svg {
  width: 130px;
  height: 60px;
}

.main-header__contacts-and-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .contacts__languages::after {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: white;
}

.main-header .contacts__language {
  font-size: 12px;
  color: white;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
}

.main-header .contacts__address {
  font-size: 16px;
  color: white;
  font-weight: 400;
  line-height: 19px;
}

.main-header .contacts__phone {
  font-size: 16px;
  color: white;
  font-weight: 700;
  line-height: 19px;
}
/*# sourceMappingURL=style.css.map */