/* Graphics
---------------------------------------*/
@mixin dot{
    @include pseudo;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
}
@mixin gradient-text-reversed{
    background: $gradient-text-and-icon-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin gradient-text{
    background: $gradient-text-and-icon;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin arrow-small{
    @include pseudo;
    width: 6px;
    height: 6px;
    border-right: 2px solid $active-regular;
    border-bottom: 2px solid $active-regular;
    transform: rotate(-45deg);
}
@mixin arrow-small-hover{
    border-color: $accent;
}
@mixin circle{
    @include pseudo;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $bg-alt;
}