/* Headings
---------------------------------------*/
h1{
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: white;
}
%hero-text{
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $main;    
}
h3{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: $main;    
}
h4{
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $active-regular; 
}
h5{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $main;   
}