/* Body
---------------------------------------*/
*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: black;
	background-color: white;
}
.wrapper{
	background: url(../img/png/H-symbol.png) no-repeat top center,
				$gradient-supersoft;
	background-size: 872px 1000px, auto auto; 
	border-width: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;	
	position: relative;
}
.wrapper::before{
	@include pseudo;
	background: url(/img/png/shadow-dark.png) no-repeat;
	background-size: 100% 100%;
	width: calc(100% - 20px);
	height: 10px;
	bottom: -10px;
	left: 10px;
}
.wrapper::after{
	@include pseudo;
	background: url(/img/png/shadow-light.png) no-repeat;
	background-size: 100% 100%;
	width: calc(100% - 40px);
	height: 10px;
	bottom: -20px;
	left: 20px;
}
.container{
	width: 1620px;
	padding: 0 10px;
	@include center-block();
}
