@media only screen and (max-width : 1919px){
    .wrapper-services{
        background: $gradient-supersoft;
        .advantages{
            padding-top: 0;
        }       
    }
    .companies--services{
        padding-bottom: 0;
    } 
}
