.switcher {
    background-color: $separator;
    border-radius: 12px;
    padding: 2px;
    min-width: 233px;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-self: center;
    &__radio-input {
        display: none;
    }
    &__radio-label {
        cursor: pointer;
        padding: 8px 30px 10px 30px;
        display: block;
        position: relative;
        @include fonts(16px, 19px, 700, $main, false);
        z-index: 1;
    }
    &__white-block{
        position: absolute;
        width: 130px;
        height: 36px;
        background-color: white;
        border-radius: 10px;
        top: 2px;
        right: 2px;
        transition: all 0.2s ease-in-out;
    }
    &__radio-input-1[type=radio]:checked ~ .switcher__white-block{
        transform: translateX(-125px);
        width: 104px;
    }
}
.publications--flex{
    .publications__container{
        display: flex;
        flex-direction: column;
    }
}
.publication__button{
    align-self: center;
}