.contacts-and-form{
    @include main-paddings(60px, 0, 60px);
    &__container{
        display: flex;
        justify-content: center;
    }
    &__contacts-block{
        margin-right: 60px;
    }
}
.contacts-page{
    @include fonts(21px, 30px, 400, $main, false);
    width: 650px;
    &__address{
        margin-bottom: 30px;
    }
    &__phone{
        padding-top: 30px;
        border-top: 4px solid $separator;
    }
    &__email{
        margin-top: 15px;
        color: $active-regular;
        padding-bottom: 30px;
        border-bottom: 4px solid $separator;
    }
    &__social{
        margin-top: 30px;
    }
    &__link{
        display: flex;
        align-items: center;
    }
    &__link:hover > &__svg{
        fill: $accent;
    }
    &__link:hover > &__facebook-text{
        color: $accent;
    }
    &__svg{
        width: 38px;
        height: 38px;
        fill: $active-regular;
        margin-right: 10px;
    }
    &__facebook-text{
        text-transform: uppercase;
        @include fonts(12px, 16px, 700, $active-regular, 1px);
    }
}
.form{
    width: 650px;
    background-color: $bg;
    padding: 30px;
    &__title{
        @include gradient-text;
        margin-bottom: 30px;
    }
    &__name, &__message, &__phone, &__email{
        display: block;
        padding: 15px;
        border: none;
        width: 100%;
        border-radius: 8px;
        @include fonts(16px, 26px, 400, $text, false);
    }
    &__name:focus, &__message:focus, &__phone:focus, &__email:focus{
        outline: none;
        border: 1px solid $active-regular;
    }
    &__name:invalid, &__message:invalid, &__phone:invalid, &__email:invalid{
        border: 1px solid #FF0000;
    }
    &__name{
        margin-bottom: 15px;
    }
    input::placeholder, textarea::placeholder{
        font-family: 'Montserrat', sans-serif;
        @include fonts(16px, 26px, 400, $text, false);
    }
    &__message{
        resize: none;
        margin-bottom: 30px;
        height: 151px;
    }
    &__phone{
        margin-bottom: 15px;
    }
    &__email{
        margin-bottom: 30px;
    }
    &__answer{
        margin-bottom: 15px;
        color: $text;
        text-transform: uppercase;
    }
    &__submit{
        width: 100%;
    }
    &__submit:hover{
        background-color: $active-hover;
    }
    &__submit:active{
        background-color: $active-active;
    }
}